
@import "../base";
@import "icon";
@import "button";

html, page {
  background-color: #F9FCFB;
  min-height: 100%;
}

.text-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


.text-two-line {
  //word-break: normal;
  //display: block;
  //white-space: pre-wrap;
  //word-wrap: break-word;
  //overflow: hidden;
  //text-overflow: ellipsis;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.text-three-line {
  //word-break: normal;
  //display: block;
  //white-space: pre-wrap;
  //word-wrap: break-word;
  //overflow: hidden;
  //text-overflow: ellipsis;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.line-1-px{
  position: relative;
}

.line-1-px::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: scale(.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 0 solid #DBDBDB;
  border-bottom-width: 1px
}


.line-1-px-ee{
  position: relative;
}

.line-1-px-ee::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: scale(.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 0 solid #EEEEEE;
  border-bottom-width: 1px
}
